@font-face {
    font-family:"GreekMath";
    src: url("fonts/greek_math.ttf") 
}


@font-face {
    font-family:"OldEgypt";
    src: url("fonts/old_egypt_glyphs.ttf") 
}


@font-face {
    font-family:"EasyCuneiform";
    src: url("fonts/easy_cuneiform.ttf") 
}


@font-face {
    font-family:"Unitology";
    src: url("fonts/unitology.ttf") 
}


@font-face {
    font-family:"Forerunner";
    src: url("fonts/forerunner.ttf") 
}


@font-face {
    font-family:"Masonic";
    src: url("fonts/masonic.ttf") 
}

@font-face {
    font-family:"Modern";
    src: url("fonts/modern.ttf") 
}


@font-face {
    font-family:"Samarn";
    src: url("fonts/samarn.ttf") 
}

@font-face {
    font-family:"Olde";
    src: url("fonts/olde_english.ttf") 
}

.out {
    font-family:'GreekMath';
    font-size: 36px;
    font-weight:normal;
    text-align: left;
    line-height: 100%;
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom:7px;
}

.in {
    font-family:'Modern';
    font-size: 26px;
    font-weight:normal;
    text-align: left;
    line-height: 100%;
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom:7px;
}
